## OAuth2 Proxy Config
http_address = "0.0.0.0:4180"
upstreams = ["http://app:8080"]
redirect_url = "http://localhost:4180/oauth2/callback"
provider = "github"
client_id = "Ov23lihKEPteCliCDeHX"
client_secret = "3aa40f411a78b6054c3fb0e9698ea57822417e06"
cookie_secret = "MammaMia123MammaMia456!!"
cookie_secure = false
# This allows the cookie to work over standard http for your project demo, but in production, you should set this to true and serve over https
email_domains = ["@cau.edu"]
pass_user_headers = true # pass user information as headers to the upstream application to ensure the 'user-agent' reaches the app
pass_host_header = true # pass the original host header to the upstream application